{{#links}}
    <div class="navigation__link {{#each class}}navigation__link_{{this}}{{/each}}">
        <a href="{{href}}" data-href="{{href}}" class="circle navigation__circle {{#each class}}navigation__circle_{{this}}{{/each}}">
            <span>{{content}}</span>
        </a>
    </div>
{{/links}}