<main class="content">
    <form class="user_form" id="{{id}}" method="post">
        <div class="error main hidden common_error">{{commonError}}</div>

        {{#fields}}
            <div class="field {{#if validationType}}validate{{/if}}">
                <input class="input_block {{validationType}}" name="{{name}}" type="{{type}}"
                       placeholder="{{placeholder}}"/>
                <span class="error hidden">{{error}}</span>
            </div>
        {{/fields}}

        <button class="submit">{{submitText}}</button>
    </form>

</main>