<form class="user_form" id="{{id}}" method="post">
	<div class="error main hidden">{{commonError}}</div>

	{{#fields}}
		<fieldset {{#if validationType}}id="{{validationType}}"{{/if}}>
			<input class="input_block" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" />
			<span class="error hidden">{{error}}</span>
		</fieldset>
	{{/fields}}

	<button class="submit">{{submitText}}</button>
</form>